<form method="post" action="{{ path('victorious_pizza_delete', {'id': victorious_pizza.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ victorious_pizza.id) }}">
    <button class="btn">Delete</button>
</form>
